body
{
    background-image:url("images/hospital images/asdfg.jpg");
    background-size: cover;
    color: lightskyblue;
}h1{
color: #004CAE;
    font-size: 40px; }
h2{
color:  #004CAE;
font-size: 30px;}
